:root {
--mantine-color-token-pairs-neutral-medium: var(--mantine-color-neutrals-gray-400);;
  --mantine-color-token-pairs-neutral-lighter-medium: var(--mantine-color-neutrals-gray-550);;
  --mantine-color-token-pairs-neutral-white: var(--mantine-color-neutrals-black);;
  --mantine-color-token-pairs-neutral-lightest: var(--mantine-color-neutrals-darker);;
  --mantine-color-token-pairs-neutral-light: var(--mantine-color-neutrals-gray-550);;
  --mantine-color-token-pairs-pink-darker: var(--mantine-color-pinks-pink-500);;
  --mantine-color-token-pairs-pink-normal: var(--mantine-color-pinks-pink-700);;
  --mantine-color-token-pairs-pink-darkest: var(--mantine-color-pinks-pink-400);;
  --mantine-color-token-pairs-charting-cyan: var(--mantine-color-charting-cyan);;
  --mantine-color-token-pairs-charting-sky: var(--mantine-color-charting-sky);;
  --mantine-color-token-pairs-charting-turquoise: var(--mantine-color-charting-turquoise);;
  --mantine-color-token-pairs-charting-steel-blue: var(--mantine-color-charting-steel-blue);;
  --mantine-color-token-pairs-charting-navy: var(--mantine-color-charting-navy);;
  --mantine-color-token-pairs-charting-plum: var(--mantine-color-charting-5e3f56);;
  --mantine-color-token-pairs-charting-lavender: var(--mantine-color-charting-lavender);;
  --mantine-color-token-pairs-charting-peach: var(--mantine-color-charting-peach);;
  --mantine-color-token-pairs-charting-daylight: var(--mantine-color-charting-daylight);;
  --mantine-color-token-pairs-charting-gold: var(--mantine-color-charting-gold);;
  --mantine-color-token-pairs-charting-tang: var(--mantine-color-charting-tang);;
  --mantine-color-token-pairs-charting-orange: var(--mantine-color-charting-orange);;
  --mantine-color-token-pairs-charting-terracota: var(--mantine-color-charting-terracotta);;
  --mantine-color-token-pairs-charting-teal: var(--mantine-color-charting-teal);;
  --mantine-color-token-pairs-charting-sage: var(--mantine-color-charting-sage);;
  --mantine-color-token-pairs-charting-aquamarine: var(--mantine-color-charting-aquamarine);;
  --mantine-color-token-pairs-status-error: var(--mantine-color-status-error-inv);;
  --mantine-color-token-pairs-status-error-highlight: var(--mantine-color-status-error-highlight-inv);;
  --mantine-color-token-pairs-status-warning: var(--mantine-color-status-warning-inv);;
  --mantine-color-token-pairs-status-warning-highlight: var(--mantine-color-status-warning-highlight-inv);;
  --mantine-color-token-pairs-status-success: var(--mantine-color-status-success-inv);;
  --mantine-color-token-pairs-status-succcess-highlight: var(--mantine-color-status-success-highlight-inv);;
  --mantine-color-token-pairs-pink-light: var(--mantine-color-pinks-pink-900);;
  --mantine-color-token-pairs-pink-lighter: var(--mantine-color-pinks-pink-800);;
  --mantine-color-token-pairs-neutral-dark: var(--mantine-color-neutrals-gray-200);;
  --mantine-color-components: var(--mantine-color-token-pairs-neutral-dark);;
  --mantine-color-token-pairs-pink-lighest: var(--mantine-color-pinks-pink-950);;
  --mantine-color-neutrals-fills-dark: var(--mantine-color-token-pairs-neutral-dark);;
  --mantine-color-token-pairs-status-error-hover: var(--mantine-color-status-error-hover-inv);;
  --mantine-color-token-pairs-status-warning-hover: var(--mantine-color-status-warning-hover-inv);;
  --mantine-color-token-pairs-status-success-hover: var(--mantine-color-status-success-hover-inv);;
  --mantine-color-neutrals-fills-white: var(--mantine-color-token-pairs-neutral-white);;
  --mantine-color-neutrals-fills-medium: var(--mantine-color-token-pairs-neutral-medium);;
  --mantine-color-states-fills-warning: var(--mantine-color-token-pairs-status-warning);;
  --mantine-color-states-fills-error: var(--mantine-color-token-pairs-status-error);;
  --mantine-color-states-fills-success: var(--mantine-color-token-pairs-status-success);;
  --mantine-color-neutrals-fills-light: var(--mantine-color-token-pairs-neutral-light);;
  --mantine-color-semantic-errors-warning: var(--mantine-color-token-pairs-status-warning);;
  --mantine-color-pinks-stroke-normal-brand: var(--mantine-color-token-pairs-pink-normal);;
  --mantine-color-neutrals-stroke-medium: var(--mantine-color-token-pairs-neutral-medium);;
  --mantine-color-neutrals-stroke-black: var(--mantine-color-token-pairs-neutral-black);;
  --mantine-color-semantic-errors-error: var(--mantine-color-token-pairs-status-error);;
  --mantine-color-pinks-stroke-light: var(--mantine-color-token-pairs-pink-light);;
  --mantine-color-semantic-errors-success: var(--mantine-color-token-pairs-status-success);;
  --mantine-color-neutrals-stroke-dark: var(--mantine-color-token-pairs-neutral-dark);;
  --mantine-color-neutrals-stroke-lightest: var(--mantine-color-token-pairs-neutral-lightest);;
  --mantine-color-neutrals-stroke-white: var(--mantine-color-token-pairs-neutral-white);;
  --mantine-color-states-fills-erorr-highlight: var(--mantine-color-token-pairs-status-error-highlight);;
  --mantine-color-states-fills-success-highlight: var(--mantine-color-token-pairs-status-warning-highlight);;
  --mantine-color-states-fills-warning-highlight: var(--mantine-color-token-pairs-status-warning-highlight);;
  --mantine-color-states-fills-warning-hover: var(--mantine-color-token-pairs-status-warning-hover);;
  --mantine-color-states-fills-success-hover: var(--mantine-color-token-pairs-status-success-hover);;
  --mantine-color-states-fills-error-hover: var(--mantine-color-token-pairs-status-error-hover);;
  --mantine-color-semantic-errors-success-highlight: var(--mantine-color-token-pairs-status-warning-highlight);;
  --mantine-color-semantic-errors-warning-highlight: var(--mantine-color-token-pairs-status-warning-highlight);;
  --mantine-color-semantic-errors-success-hover: var(--mantine-color-token-pairs-status-success-hover);;
  --mantine-color-semantic-errors-warning-hover: var(--mantine-color-token-pairs-status-warning-hover);;
  --mantine-color-semantic-errors-erorr-highlight: var(--mantine-color-token-pairs-status-error-highlight);;
  --mantine-color-semantic-errors-error-hover: var(--mantine-color-token-pairs-status-error-hover);;
  --mantine-color-pinks-fills-lightest: var(--mantine-color-token-pairs-pink-lighest);;
  --mantine-color-neutrals-stroke-lighter-medium: var(--mantine-color-token-pairs-neutral-lighter-medium);;
  --mantine-color-neutrals-fills-lighter-medium: var(--mantine-color-token-pairs-neutral-lighter-medium);;
  --mantine-color-neutrals-fills-lightest: var(--mantine-color-token-pairs-neutral-lightest);;
  --mantine-color-pinks-stroke-darkest: var(--mantine-color-token-pairs-pink-darkest);;
  --mantine-color-token-pairs-neutral-black: var(--mantine-color-neutrals-white);;
  --mantine-color-neutrals-fills-black: var(--mantine-color-token-pairs-neutral-black);;
  --mantine-color-semantic-icon-fassets-bg-default: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-button-primary-filled-bg-default: var(--mantine-color-pinks-pink-700);;
  --mantine-color-semantic-button-primary-filled-bg-hover: var(--mantine-color-pinks-pink-600);;
  --mantine-color-semantic-button-primary-filled-bg-disabled: var(--mantine-color-pinks-with-opacity-pink-950-at-60);;
  --mantine-color-semantic-button-primary-filled-border-default: var(--mantine-color-pinks-pink-700);;
  --mantine-color-semantic-button-primary-filled-border-hover: var(--mantine-color-pinks-pink-600);;
  --mantine-color-semantic-button-primary-filled-border-disabled: var(--mantine-color-pinks-pink-900);;
  --mantine-color-semantic-button-primary-filled-text-default: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-button-primary-filled-text-hover: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-button-primary-filled-text-disabled: var(--mantine-color-neutrals-gray-550);;
  --mantine-color-semantic-button-tertiary-outlined-bg-default: var(--mantine-color-neutrals-black);;
  --mantine-color-semantic-button-tertiary-outlined-bg-hover: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-button-tertiary-outlined-bg-disabled: var(--mantine-color-neutrals-black);;
  --mantine-color-semantic-button-tertiary-outlined-border-default: var(--mantine-color-neutrals-gray-550);;
  --mantine-color-semantic-button-tertiary-outlined-border-hover: var(--mantine-color-neutrals-gray-300);;
  --mantine-color-semantic-button-tertiary-outlined-border-disabled: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-button-tertiary-outlined-text-default: var(--mantine-color-neutrals-gray-200);;
  --mantine-color-semantic-button-tertiary-outlined-text-hover: var(--mantine-color-neutrals-gray-200);;
  --mantine-color-semantic-button-tertiary-outlined-text-disabled: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-dropdown-primary-outlined-bg-default: var(--mantine-color-neutrals-black);;
  --mantine-color-semantic-dropdown-primary-outlined-bg-hover: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-dropdown-primary-outlined-bg-disabled: var(--mantine-color-neutrals-black);;
  --mantine-color-semantic-dropdown-primary-outlined-border-default: var(--mantine-color-neutrals-gray-550);;
  --mantine-color-semantic-dropdown-primary-outlined-border-hover: var(--mantine-color-neutrals-gray-200);;
  --mantine-color-semantic-dropdown-primary-outlined-border-disabled: var(--mantine-color-neutrals-gray-550);;
  --mantine-color-semantic-dropdown-primary-outlined-text-default: var(--mantine-color-neutrals-gray-400);;
  --mantine-color-semantic-dropdown-primary-outlined-text-hover: var(--mantine-color-neutrals-gray-200);;
  --mantine-color-semantic-dropdown-primary-outlined-text-disabled: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-dropdown-primary-outlined-text-applied: var(--mantine-color-neutrals-gray-200);;
  --mantine-color-semantic-dropdown-primary-outlined-border-applied: var(--mantine-color-neutrals-gray-200);;
  --mantine-color-semantic-dropdown-primary-outlined-bg-applied: var(--mantine-color-neutrals-black);;
  --mantine-color-semantic-button-wallet-connect-outlined-border-default: var(--mantine-color-neutrals-gray-550);;
  --mantine-color-semantic-button-wallet-connect-outlined-border-hover: var(--mantine-color-neutrals-gray-500);;
  --mantine-color-semantic-button-wallet-connect-outlined-text-default: var(--mantine-color-neutrals-gray-200);;
  --mantine-color-semantic-button-wallet-connect-outlined-text-hover: var(--mantine-color-neutrals-gray-200);;
  --mantine-color-semantic-icon-tokens-bg-default: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-icon-tokens-stroke-default: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-button-secondary-outlined-text-default: var(--mantine-color-pinks-pink-500);;
  --mantine-color-semantic-button-secondary-outlined-text-hover: var(--mantine-color-pinks-pink-600);;
  --mantine-color-semantic-button-secondary-outlined-text-disabled: var(--mantine-color-pinks-pink-950);;
  --mantine-color-semantic-button-secondary-outlined-border-default: var(--mantine-color-pinks-pink-700);;
  --mantine-color-semantic-button-secondary-outlined-border-hover: var(--mantine-color-pinks-pink-600);;
  --mantine-color-semantic-button-secondary-outlined-border-disabled: var(--mantine-color-pinks-with-opacity-pink-950-at-60);;
  --mantine-color-semantic-button-secondary-outlined-bg-default: var(--mantine-color-neutrals-black);;
  --mantine-color-semantic-button-secondary-outlined-bg-hover: var(--mantine-color-pinks-with-opacity-pink-950-at-60);;
  --mantine-color-semantic-button-secondary-outlined-bg-disabled: var(--mantine-color-neutrals-black);;
  --mantine-color-components-fill: var(--mantine-color-token-pairs-neutral-dark);;
  --mantine-color-neutrals-stroke-light: var(--mantine-color-token-pairs-neutral-light);;
  --mantine-color-semantic-input-fields-add-attachment-bg-default: var(--mantine-color-pinks-pink-950);;
  --mantine-color-semantic-input-fields-add-attachment-bg-hover: var(--mantine-color-pinks-pink-900);;
  --mantine-color-semantic-input-fields-add-attachment-bg-disabled: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-input-fields-add-attachment-border-disabled: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-input-fields-add-attachment-border-default: var(--mantine-color-pinks-pink-700);;
  --mantine-color-semantic-input-fields-add-attachment-border-hover: var(--mantine-color-pinks-pink-600);;
  --mantine-color-pinks-stroke-lighter: var(--mantine-color-token-pairs-pink-lighter);;
  --mantine-color-pinks-stroke-darker: var(--mantine-color-token-pairs-pink-darker);;
  --mantine-color-pinks-fills-lighter: var(--mantine-color-token-pairs-pink-lighter);;
  --mantine-color-pinks-fills-light: var(--mantine-color-token-pairs-pink-light);;
  --mantine-color-pinks-fills-darker: var(--mantine-color-token-pairs-pink-darker);;
  --mantine-color-pinks-fills-darkest: var(--mantine-color-token-pairs-pink-darkest);;
  --mantine-color-pinks-fills-normal-brand: var(--mantine-color-token-pairs-pink-normal);;
  --mantine-color-pinks-stroke-lightest: var(--mantine-color-token-pairs-pink-lighest);;
  --mantine-color-semantic-input-fields-text-input-outlined-bg-default: var(--mantine-color-neutrals-black);;
  --mantine-color-semantic-input-fields-text-input-outlined-bg-filled: var(--mantine-color-neutrals-black);;
  --mantine-color-semantic-input-fields-text-input-outlined-bg-disabled: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-input-fields-text-input-outlined-border-default: var(--mantine-color-neutrals-gray-550);;
  --mantine-color-semantic-input-fields-text-input-outlined-border-filled: var(--mantine-color-neutrals-gray-200);;
  --mantine-color-semantic-input-fields-text-input-outlined-border-disabled: var(--mantine-color-neutrals-gray-550);;
  --mantine-color-semantic-input-fields-text-input-outlined-text-placeholder: var(--mantine-color-neutrals-gray-400);;
  --mantine-color-semantic-input-fields-text-input-outlined-text-default: var(--mantine-color-neutrals-gray-200);;
  --mantine-color-semantic-input-fields-text-input-outlined-text-filled: var(--mantine-color-neutrals-gray-200);;
  --mantine-color-semantic-input-fields-text-input-outlined-text-disabled: var(--mantine-color-neutrals-gray-550);;
  --mantine-color-semantic-input-fields-text-input-outlined-border-error: var(--mantine-color-status-error-inv);;
  --mantine-color-semantic-input-fields-text-input-outlined-text-error: var(--mantine-color-status-error-inv);;
  --mantine-color-token-pairs-border: var(--mantine-color-neutrals-with-opacity-gray-50-at-25);;
  --mantine-color-skys-fills-lightest: var(--mantine-color-sky-sky-950);;
  --mantine-color-skys-fills-light: var(--mantine-color-sky-sky-900);;
  --mantine-color-skys-stroke-lightest: var(--mantine-color-sky-sky-950);;
  --mantine-color-skys-stroke-light: var(--mantine-color-sky-sky-900);;
  --mantine-color-skys-fills-lighter: var(--mantine-color-sky-sky-600);;
  --mantine-color-skys-fills-normal: var(--mantine-color-sky-sky-300);;
  --mantine-color-skys-fills-darker: var(--mantine-color-sky-sky-50);;
  --mantine-color-skys-fills-darkest: var(--mantine-color-sky-sky-25);;
  --mantine-color-skys-stroke-lighter: var(--mantine-color-sky-sky-600);;
  --mantine-color-skys-stroke-normal: var(--mantine-color-sky-sky-300);;
  --mantine-color-skys-stroke-darker: var(--mantine-color-sky-sky-50);;
  --mantine-color-skys-stroke-darkest: var(--mantine-color-sky-sky-25);;
  --mantine-color-neutrals-black: #101010;;
  --mantine-color-neutrals-dark: #232323;;
  --mantine-color-neutrals-gray-500: #777;;
  --mantine-color-neutrals-gray-300: #c0c0c0;;
  --mantine-color-neutrals-gray-100: #e7e7e7;;
  --mantine-color-neutrals-gray-50: #f6f6f6;;
  --mantine-color-neutrals-white: #fff;;
  --mantine-color-neutrals-gray-200: #d1d1d1;;
  --mantine-color-neutrals-gray-400: #a2a2a2;;
  --mantine-color-neutrals-gray-550: #414141;;
  --mantine-color-pinks-pink-600: #e62058;;
  --mantine-color-pinks-pink-700: #c10f45;;
  --mantine-color-pinks-with-opacity-pink-950-at-60: rgb(77 4 29 / 0.6);;
  --mantine-color-pinks-pink-50: #fff1f3;;
  --mantine-color-pinks-pink-800: #a11041;;
  --mantine-color-pinks-pink-25: #fef8fa;;
  --mantine-color-pinks-pink-100: #ffe4e8;;
  --mantine-color-pinks-pink-200: #ffccd5;;
  --mantine-color-pinks-pink-300: #ffccd5;;
  --mantine-color-pinks-pink-400: #fd6f8c;;
  --mantine-color-pinks-pink-500: #f73c68;;
  --mantine-color-pinks-pink-900: #8a113e;;
  --mantine-color-pinks-pink-950: #4d041d;;
  --mantine-color-status-success-hover: #128800;;
  --mantine-color-status-error-hover: #b0190e;;
  --mantine-color-status-warning-hover: #c15630;;
  --mantine-color-status-success-highlight: #e7f3e5;;
  --mantine-color-status-warning-highlight: #f9eeea;;
  --mantine-color-status-error-highlight: #fceae8;;
  --mantine-color-status-success: #086;;
  --mantine-color-status-warning: #c15630;;
  --mantine-color-status-error: #e21e42;;
  --mantine-color-charting-teal: #53c0a9;;
  --mantine-color-charting-terracotta: #d96339;;
  --mantine-color-charting-tang: #fdac59;;
  --mantine-color-charting-sage: #8cb37b;;
  --mantine-color-charting-gold: #fee48f;;
  --mantine-color-charting-daylight: #fdfeab;;
  --mantine-color-charting-turquoise: #34a4b6;;
  --mantine-color-charting-peach: #fff1e2;;
  --mantine-color-charting-navy: #223f5a;;
  --mantine-color-charting-sky: #54c2df;;
  --mantine-color-charting-cyan: #a7e1d7;;
  --mantine-color-charting-steel-blue: #2e6a89;;
  --mantine-color-charting-aquamarine: #a1edbb;;
  --mantine-color-charting-lavender: #9b94b3;;
  --mantine-color-charting-orange: #f77248;;
  --mantine-color-charting-5e3f56: #5e3f56;;
  --mantine-color-status-error-inv: #ee4c45;;
  --mantine-color-status-warning-inv: #fdac59;;
  --mantine-color-status-success-inv: #61b854;;
  --mantine-color-status-error-highlight-inv: #261615;;
  --mantine-color-status-warning-highlight-inv: #282017;;
  --mantine-color-status-success-highlight-inv: #182117;;
  --mantine-color-status-error-hover-inv: #ee4c45;;
  --mantine-color-status-warning-hover-inv: #fdac59;;
  --mantine-color-status-success-hover-inv: #61b854;;
  --mantine-color-neutrals-darker: #1a1a1a;;
  --mantine-color-neutrals-with-opacity-gray-50-at-25: rgb(246 246 246 / 0.25);;
  --mantine-color-neutrals-with-opacity-dark-at-25: rgb(35 35 35 / 0.25);;
  --mantine-color-sky-sky-25: #f6fcfd;;
  --mantine-color-sky-sky-50: #e5f6fa;;
  --mantine-color-sky-sky-600: #54c2df;;
  --mantine-color-sky-sky-100: #ccedf5;;
  --mantine-color-sky-sky-300: #98daec;;
  --mantine-color-sky-sky-800: #46adc8;;
  --mantine-color-sky-sky-900: #1b677a;;
  --mantine-color-sky-sky-950: #053440;;
--sizes-n: var(--mantine-size-n);;
    --sizes-none: 0rem;;
    --sizes-2n: var(--mantine-size-2n);;
    --sizes-3n: var(--mantine-size-3n);;
    --sizes-xs: var(--mantine-size-xs);;
    --sizes-md: var(--mantine-size-md);;
    --sizes-lg: var(--mantine-size-lg);;
    --mantine-size-sm: 0.75rem;;
    --mantine-size-md: 1rem;;
    --mantine-size-lg: 1.25rem;;
    --mantine-size-xl: 1.5rem;;
    --mantine-size-xs: 0.5rem;;
    --mantine-size-3n: 0.375rem;;
    --mantine-size-2n: 0.25rem;;
    --mantine-size-n: 0.125rem;;
    --mantine-size-xxl: 2rem;;
    --sizes-xl: var(--mantine-size-xl);;
    --sizes-xxl: var(--mantine-size-xxl);;
    --sizes-sm: var(--mantine-size-sm);;
    --mantine-size-xl2: 3rem;;
    --sizes-xl2: var(--mantine-size-xl2);;
--sizes-body-l-body: 1.25rem;;
    --sizes-body-s-body: 0.875rem;;
    --sizes-body-body: 1rem;;
    --sizes-body-note: 0.75rem;;
    --sizes-label-xl-label: 1.25rem;;
    --sizes-label-l-label: 1rem;;
    --sizes-label-label: 0.875rem;;
    --sizes-label-s-label: 0.75rem;;
    --sizes-link-l-link: 1.25rem;;
    --sizes-link-body-link: 1rem;;
    --sizes-link-small-body-link: 0.875rem;;
    --sizes-link-note-text-link: 0.75rem;;
--sizes-headings-h1: 4rem;;
    --sizes-headings-h2: 3rem;;
    --sizes-headings-h3: 2.5rem;;
    --sizes-headings-h4: 2rem;;
    --sizes-headings-h5: 1.75rem;;
    --sizes-headings-h6: 1.5rem;;
    --sizes-headings-h7: 1.25rem;;
--line-height-h1: 5.375rem;;
    --line-height-h6: 2rem;;
    --line-height-h5: 2.375rem;;
    --line-height-h7: 1.6875rem;;
    --line-height-h3: 3.375rem;;
    --line-height-h2: 4.0625rem;;
    --line-height-h4: 2.6875rem;;
    --line-height-note: 1.25rem;;
    --line-height-body: 1.5rem;;
    --line-height-s-body: 1.25rem;;
    --line-height-l-body: 2rem;;
    --line-height-s-label: 1rem;;
    --line-height-l-label: 1.375rem;;
    --line-height-label: 1.1875rem;;
    --line-height-xl-label: 1.6875rem;;
    --line-height-note-text-link: 1.25rem;;
    --line-height-body-link: 1.5rem;;
    --line-height-small-body-link: 1.25rem;;
    --line-height-large-link: 2rem;;



}

@media (max-width: 768px) {
  :root {
--sizes-n: var(--mantine-size-n);;
    --sizes-none: 0rem;;
    --sizes-2n: var(--mantine-size-2n);;
    --sizes-3n: var(--mantine-size-3n);;
    --sizes-xs: var(--mantine-size-xs);;
    --sizes-md: var(--mantine-size-md);;
    --sizes-lg: var(--mantine-size-lg);;
    --mantine-size-sm: 0.75rem;;
    --mantine-size-md: 1rem;;
    --mantine-size-lg: 1.25rem;;
    --mantine-size-xl: 1.5rem;;
    --mantine-size-xs: 0.5rem;;
    --mantine-size-3n: 0.375rem;;
    --mantine-size-2n: 0.25rem;;
    --mantine-size-n: 0.125rem;;
    --mantine-size-xxl: 2rem;;
    --sizes-xl: var(--mantine-size-xl);;
    --sizes-xxl: var(--mantine-size-xxl);;
    --sizes-sm: var(--mantine-size-sm);;
    --mantine-size-xl2: 3rem;;
    --sizes-xl2: var(--mantine-size-xl2);;
--sizes-body-l-body: 1.125rem;;
    --sizes-body-s-body: 0.875rem;;
    --sizes-body-body: 1rem;;
    --sizes-body-note: 0.75rem;;
    --sizes-label-xl-label: 1.125rem;;
    --sizes-label-l-label: 1rem;;
    --sizes-label-label: 0.75rem;;
    --sizes-label-s-label: 0.75rem;;
    --sizes-link-l-link: 1.125rem;;
    --sizes-link-body-link: 1rem;;
    --sizes-link-small-body-link: 0.875rem;;
    --sizes-link-note-text-link: 0.75rem;;
--sizes-headings-h1: 3.1875rem;;
    --sizes-headings-h2: 2.375rem;;
    --sizes-headings-h3: 2rem;;
    --sizes-headings-h4: 1.625rem;;
    --sizes-headings-h5: 1.375rem;;
    --sizes-headings-h6: 1.1875rem;;
    --sizes-headings-h7: 1rem;;
--line-height-h1: 4.3125rem;;
    --line-height-h6: 1.625rem;;
    --line-height-h5: 1.875rem;;
    --line-height-h7: 1.375rem;;
    --line-height-h3: 2.6875rem;;
    --line-height-h2: 3.1875rem;;
    --line-height-h4: 2.1875rem;;
    --line-height-note: 1.25rem;;
    --line-height-body: 1.5rem;;
    --line-height-s-body: 1.25rem;;
    --line-height-l-body: 2rem;;
    --line-height-s-label: 1rem;;
    --line-height-l-label: 1.375rem;;
    --line-height-label: 1.1875rem;;
    --line-height-xl-label: 1.5rem;;
    --line-height-note-text-link: 1.25rem;;
    --line-height-body-link: 1.5rem;;
    --line-height-small-body-link: 1.25rem;;
    --line-height-large-link: 2rem;;
  }
}

:root[data-mantine-color-scheme='light'] {
--mantine-color-token-pairs-neutral-medium: var(--mantine-color-neutrals-gray-500);;
  --mantine-color-token-pairs-neutral-lighter-medium: var(--mantine-color-neutrals-gray-300);;
  --mantine-color-token-pairs-neutral-white: var(--mantine-color-neutrals-white);;
  --mantine-color-token-pairs-neutral-lightest: var(--mantine-color-neutrals-gray-50);;
  --mantine-color-token-pairs-neutral-light: var(--mantine-color-neutrals-gray-100);;
  --mantine-color-token-pairs-pink-darker: var(--mantine-color-pinks-pink-700);;
  --mantine-color-token-pairs-pink-normal: var(--mantine-color-pinks-pink-600);;
  --mantine-color-token-pairs-pink-darkest: var(--mantine-color-pinks-pink-800);;
  --mantine-color-token-pairs-charting-cyan: var(--mantine-color-charting-cyan);;
  --mantine-color-token-pairs-charting-sky: var(--mantine-color-charting-sky);;
  --mantine-color-token-pairs-charting-turquoise: var(--mantine-color-charting-turquoise);;
  --mantine-color-token-pairs-charting-steel-blue: var(--mantine-color-charting-steel-blue);;
  --mantine-color-token-pairs-charting-navy: var(--mantine-color-charting-navy);;
  --mantine-color-token-pairs-charting-plum: var(--mantine-color-charting-5e3f56);;
  --mantine-color-token-pairs-charting-lavender: var(--mantine-color-charting-lavender);;
  --mantine-color-token-pairs-charting-peach: var(--mantine-color-charting-peach);;
  --mantine-color-token-pairs-charting-daylight: var(--mantine-color-charting-daylight);;
  --mantine-color-token-pairs-charting-gold: var(--mantine-color-charting-gold);;
  --mantine-color-token-pairs-charting-tang: var(--mantine-color-charting-tang);;
  --mantine-color-token-pairs-charting-orange: var(--mantine-color-charting-orange);;
  --mantine-color-token-pairs-charting-terracota: var(--mantine-color-charting-terracotta);;
  --mantine-color-token-pairs-charting-teal: var(--mantine-color-charting-teal);;
  --mantine-color-token-pairs-charting-sage: var(--mantine-color-charting-sage);;
  --mantine-color-token-pairs-charting-aquamarine: var(--mantine-color-charting-aquamarine);;
  --mantine-color-token-pairs-status-error: var(--mantine-color-status-error);;
  --mantine-color-token-pairs-status-error-highlight: var(--mantine-color-status-error-highlight);;
  --mantine-color-token-pairs-status-warning: var(--mantine-color-status-warning);;
  --mantine-color-token-pairs-status-warning-highlight: var(--mantine-color-status-warning-highlight);;
  --mantine-color-token-pairs-status-success: var(--mantine-color-status-success);;
  --mantine-color-token-pairs-status-succcess-highlight: var(--mantine-color-status-success-highlight);;
  --mantine-color-token-pairs-pink-light: var(--mantine-color-pinks-pink-50);;
  --mantine-color-token-pairs-pink-lighter: var(--mantine-color-pinks-pink-300);;
  --mantine-color-token-pairs-neutral-dark: var(--mantine-color-neutrals-dark);;
  --mantine-color-components: #9747ff;;
  --mantine-color-token-pairs-pink-lighest: var(--mantine-color-pinks-pink-25);;
  --mantine-color-neutrals-fills-dark: var(--mantine-color-token-pairs-neutral-dark);;
  --mantine-color-token-pairs-status-error-hover: var(--mantine-color-status-error-hover);;
  --mantine-color-token-pairs-status-warning-hover: var(--mantine-color-status-warning-hover);;
  --mantine-color-token-pairs-status-success-hover: var(--mantine-color-status-success-hover);;
  --mantine-color-neutrals-fills-white: var(--mantine-color-token-pairs-neutral-white);;
  --mantine-color-neutrals-fills-medium: var(--mantine-color-token-pairs-neutral-medium);;
  --mantine-color-states-fills-warning: var(--mantine-color-token-pairs-status-warning);;
  --mantine-color-states-fills-error: var(--mantine-color-token-pairs-status-error);;
  --mantine-color-states-fills-success: var(--mantine-color-token-pairs-status-success);;
  --mantine-color-neutrals-fills-light: var(--mantine-color-token-pairs-neutral-light);;
  --mantine-color-semantic-errors-warning: var(--mantine-color-token-pairs-status-warning);;
  --mantine-color-pinks-stroke-normal-brand: var(--mantine-color-token-pairs-pink-normal);;
  --mantine-color-neutrals-stroke-medium: var(--mantine-color-token-pairs-neutral-medium);;
  --mantine-color-neutrals-stroke-black: var(--mantine-color-token-pairs-neutral-black);;
  --mantine-color-semantic-errors-error: var(--mantine-color-token-pairs-status-error);;
  --mantine-color-pinks-stroke-light: var(--mantine-color-token-pairs-pink-light);;
  --mantine-color-semantic-errors-success: var(--mantine-color-token-pairs-status-success);;
  --mantine-color-neutrals-stroke-dark: var(--mantine-color-token-pairs-neutral-dark);;
  --mantine-color-neutrals-stroke-lightest: var(--mantine-color-token-pairs-neutral-lightest);;
  --mantine-color-neutrals-stroke-white: var(--mantine-color-token-pairs-neutral-white);;
  --mantine-color-states-fills-erorr-highlight: var(--mantine-color-token-pairs-status-error-highlight);;
  --mantine-color-states-fills-success-highlight: var(--mantine-color-token-pairs-status-succcess-highlight);;
  --mantine-color-states-fills-warning-highlight: var(--mantine-color-token-pairs-status-warning-highlight);;
  --mantine-color-states-fills-warning-hover: var(--mantine-color-token-pairs-status-warning-hover);;
  --mantine-color-states-fills-success-hover: var(--mantine-color-token-pairs-status-success-hover);;
  --mantine-color-states-fills-error-hover: var(--mantine-color-token-pairs-status-error-hover);;
  --mantine-color-semantic-errors-success-highlight: var(--mantine-color-token-pairs-status-succcess-highlight);;
  --mantine-color-semantic-errors-warning-highlight: var(--mantine-color-token-pairs-status-warning-highlight);;
  --mantine-color-semantic-errors-success-hover: var(--mantine-color-token-pairs-status-success-hover);;
  --mantine-color-semantic-errors-warning-hover: var(--mantine-color-token-pairs-status-warning-hover);;
  --mantine-color-semantic-errors-erorr-highlight: var(--mantine-color-token-pairs-status-error-highlight);;
  --mantine-color-semantic-errors-error-hover: var(--mantine-color-token-pairs-status-error-hover);;
  --mantine-color-pinks-fills-lightest: var(--mantine-color-token-pairs-pink-lighest);;
  --mantine-color-neutrals-stroke-lighter-medium: var(--mantine-color-token-pairs-neutral-lighter-medium);;
  --mantine-color-neutrals-fills-lighter-medium: var(--mantine-color-token-pairs-neutral-lighter-medium);;
  --mantine-color-neutrals-fills-lightest: var(--mantine-color-token-pairs-neutral-lightest);;
  --mantine-color-pinks-stroke-darkest: var(--mantine-color-token-pairs-pink-darkest);;
  --mantine-color-token-pairs-neutral-black: var(--mantine-color-neutrals-black);;
  --mantine-color-neutrals-fills-black: var(--mantine-color-token-pairs-neutral-black);;
  --mantine-color-semantic-icon-fassets-bg-default: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-button-primary-filled-bg-default: var(--mantine-color-pinks-pink-600);;
  --mantine-color-semantic-button-primary-filled-bg-hover: var(--mantine-color-pinks-pink-800);;
  --mantine-color-semantic-button-primary-filled-bg-disabled: var(--mantine-color-pinks-pink-50);;
  --mantine-color-semantic-button-primary-filled-border-default: var(--mantine-color-pinks-pink-600);;
  --mantine-color-semantic-button-primary-filled-border-hover: var(--mantine-color-pinks-pink-800);;
  --mantine-color-semantic-button-primary-filled-border-disabled: var(--mantine-color-pinks-pink-50);;
  --mantine-color-semantic-button-primary-filled-text-default: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-button-primary-filled-text-hover: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-button-primary-filled-text-disabled: var(--mantine-color-pinks-pink-300);;
  --mantine-color-semantic-button-tertiary-outlined-bg-default: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-button-tertiary-outlined-bg-hover: var(--mantine-color-neutrals-gray-50);;
  --mantine-color-semantic-button-tertiary-outlined-bg-disabled: var(--mantine-color-neutrals-gray-50);;
  --mantine-color-semantic-button-tertiary-outlined-border-default: var(--mantine-color-neutrals-gray-300);;
  --mantine-color-semantic-button-tertiary-outlined-border-hover: var(--mantine-color-neutrals-gray-300);;
  --mantine-color-semantic-button-tertiary-outlined-border-disabled: var(--mantine-color-neutrals-gray-50);;
  --mantine-color-semantic-button-tertiary-outlined-text-default: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-button-tertiary-outlined-text-hover: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-button-tertiary-outlined-text-disabled: var(--mantine-color-neutrals-gray-300);;
  --mantine-color-semantic-dropdown-primary-outlined-bg-default: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-dropdown-primary-outlined-bg-hover: var(--mantine-color-neutrals-gray-50);;
  --mantine-color-semantic-dropdown-primary-outlined-bg-disabled: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-dropdown-primary-outlined-border-default: var(--mantine-color-neutrals-gray-300);;
  --mantine-color-semantic-dropdown-primary-outlined-border-hover: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-dropdown-primary-outlined-border-disabled: var(--mantine-color-neutrals-gray-300);;
  --mantine-color-semantic-dropdown-primary-outlined-text-default: var(--mantine-color-neutrals-gray-500);;
  --mantine-color-semantic-dropdown-primary-outlined-text-hover: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-dropdown-primary-outlined-text-disabled: var(--mantine-color-neutrals-gray-300);;
  --mantine-color-semantic-dropdown-primary-outlined-text-applied: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-dropdown-primary-outlined-border-applied: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-dropdown-primary-outlined-bg-applied: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-button-wallet-connect-outlined-border-default: var(--mantine-color-neutrals-gray-100);;
  --mantine-color-semantic-button-wallet-connect-outlined-border-hover: var(--mantine-color-neutrals-gray-100);;
  --mantine-color-semantic-button-wallet-connect-outlined-text-default: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-button-wallet-connect-outlined-text-hover: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-icon-tokens-bg-default: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-icon-tokens-stroke-default: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-button-secondary-outlined-text-default: var(--mantine-color-pinks-pink-700);;
  --mantine-color-semantic-button-secondary-outlined-text-hover: var(--mantine-color-pinks-pink-800);;
  --mantine-color-semantic-button-secondary-outlined-text-disabled: var(--mantine-color-pinks-pink-300);;
  --mantine-color-semantic-button-secondary-outlined-border-default: var(--mantine-color-pinks-pink-600);;
  --mantine-color-semantic-button-secondary-outlined-border-hover: var(--mantine-color-pinks-pink-800);;
  --mantine-color-semantic-button-secondary-outlined-border-disabled: var(--mantine-color-pinks-pink-100);;
  --mantine-color-semantic-button-secondary-outlined-bg-default: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-button-secondary-outlined-bg-hover: var(--mantine-color-pinks-pink-25);;
  --mantine-color-semantic-button-secondary-outlined-bg-disabled: var(--mantine-color-pinks-pink-50);;
  --mantine-color-components-fill: rgb(151 71 255 / 0.05);;
  --mantine-color-neutrals-stroke-light: var(--mantine-color-token-pairs-neutral-light);;
  --mantine-color-semantic-input-fields-add-attachment-bg-default: var(--mantine-color-pinks-pink-25);;
  --mantine-color-semantic-input-fields-add-attachment-bg-hover: var(--mantine-color-pinks-pink-50);;
  --mantine-color-semantic-input-fields-add-attachment-bg-disabled: var(--mantine-color-neutrals-gray-50);;
  --mantine-color-semantic-input-fields-add-attachment-border-disabled: var(--mantine-color-neutrals-gray-50);;
  --mantine-color-semantic-input-fields-add-attachment-border-default: var(--mantine-color-pinks-pink-800);;
  --mantine-color-semantic-input-fields-add-attachment-border-hover: var(--mantine-color-pinks-pink-800);;
  --mantine-color-pinks-stroke-lighter: var(--mantine-color-token-pairs-pink-lighter);;
  --mantine-color-pinks-stroke-darker: var(--mantine-color-token-pairs-pink-darker);;
  --mantine-color-pinks-fills-lighter: var(--mantine-color-token-pairs-pink-lighter);;
  --mantine-color-pinks-fills-light: var(--mantine-color-token-pairs-pink-light);;
  --mantine-color-pinks-fills-darker: var(--mantine-color-token-pairs-pink-darker);;
  --mantine-color-pinks-fills-darkest: var(--mantine-color-token-pairs-pink-darkest);;
  --mantine-color-pinks-fills-normal-brand: var(--mantine-color-token-pairs-pink-normal);;
  --mantine-color-pinks-stroke-lightest: var(--mantine-color-token-pairs-pink-lighest);;
  --mantine-color-semantic-input-fields-text-input-outlined-bg-default: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-input-fields-text-input-outlined-bg-filled: var(--mantine-color-neutrals-white);;
  --mantine-color-semantic-input-fields-text-input-outlined-bg-disabled: var(--mantine-color-neutrals-gray-50);;
  --mantine-color-semantic-input-fields-text-input-outlined-border-default: var(--mantine-color-neutrals-gray-300);;
  --mantine-color-semantic-input-fields-text-input-outlined-border-filled: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-input-fields-text-input-outlined-border-disabled: var(--mantine-color-neutrals-gray-300);;
  --mantine-color-semantic-input-fields-text-input-outlined-text-placeholder: var(--mantine-color-neutrals-gray-500);;
  --mantine-color-semantic-input-fields-text-input-outlined-text-default: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-input-fields-text-input-outlined-text-filled: var(--mantine-color-neutrals-dark);;
  --mantine-color-semantic-input-fields-text-input-outlined-text-disabled: var(--mantine-color-neutrals-gray-300);;
  --mantine-color-semantic-input-fields-text-input-outlined-border-error: var(--mantine-color-status-error);;
  --mantine-color-semantic-input-fields-text-input-outlined-text-error: var(--mantine-color-status-error);;
  --mantine-color-token-pairs-border: var(--mantine-color-neutrals-with-opacity-dark-at-25);;
  --mantine-color-skys-fills-lightest: var(--mantine-color-sky-sky-25);;
  --mantine-color-skys-fills-light: var(--mantine-color-sky-sky-50);;
  --mantine-color-skys-stroke-lightest: var(--mantine-color-sky-sky-25);;
  --mantine-color-skys-stroke-light: var(--mantine-color-sky-sky-50);;
  --mantine-color-skys-fills-lighter: var(--mantine-color-sky-sky-300);;
  --mantine-color-skys-fills-normal: var(--mantine-color-sky-sky-600);;
  --mantine-color-skys-fills-darker: var(--mantine-color-sky-sky-900);;
  --mantine-color-skys-fills-darkest: var(--mantine-color-sky-sky-950);;
  --mantine-color-skys-stroke-lighter: var(--mantine-color-sky-sky-300);;
  --mantine-color-skys-stroke-normal: var(--mantine-color-sky-sky-600);;
  --mantine-color-skys-stroke-darker: var(--mantine-color-sky-sky-900);;
  --mantine-color-skys-stroke-darkest: var(--mantine-color-sky-sky-950);;
}

::-webkit-scrollbar {
    width: 16px;
  }
  
  ::-webkit-scrollbar-track {
    background: #d9d9d9 !important;
    border-radius: 22px !important;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--mantine-color-neutrals-fills-white) !important;
    border: 2px solid #d9d9d9 !important;
    border-radius: 22px !important;
  }

  
  .mantine-focus-auto:focus-visible {
    outline: none;
    outline-offset: 0px;
    color: currentColor
  }
  
  .mantine-Combobox-option:where([data-combobox-selected]) {
    background-color: var(--mantine-color-semantic-dropdown-primary-outlined-bg-hover);
    color: currentColor;
  }
  
  img,svg,video,canvas,audio,iframe,embed,object {
    vertical-align: middle;
    display: block;
}
